flows.json
[
    {
        "id": "df9f7062531e91f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53a8b3565777386c",
        "type": "http request",
        "z": "df9f7062531e91f4",
        "name": "Weather API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?appid={{YOUR KEY}}&units=metric&lat={{payload.lat}}&lon={{payload.lon}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "ca893050658f118b"
            ]
        ]
    },
    {
        "id": "52efd3d77d54555a",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.weather_new.temp}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "49efc72942743797",
        "type": "ui_text_input",
        "z": "df9f7062531e91f4",
        "name": "",
        "label": "Place",
        "tooltip": "",
        "group": "93231cf0275b4de9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 50,
        "y": 340,
        "wires": [
            [
                "6b08095cd0d5927c"
            ]
        ]
    },
    {
        "id": "6b08095cd0d5927c",
        "type": "http request",
        "z": "df9f7062531e91f4",
        "name": "GeoCoding API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.opentripmap.com/0.1/en/places/geoname?apikey={{YOUR KEY}}&name={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 340,
        "wires": [
            [
                "6cca52e507bdd3f9",
                "53a8b3565777386c",
                "26edda2080c3ece4"
            ]
        ]
    },
    {
        "id": "26edda2080c3ece4",
        "type": "http request",
        "z": "df9f7062531e91f4",
        "name": "Sightseeing API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.opentripmap.com/0.1/en/places/radius?radius=2000&lon={{payload.lon}}&lat={{payload.lat}}&apikey={{YOUR KEY}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 400,
        "wires": [
            [
                "5dd4c1ef5beae17f"
            ]
        ]
    },
    {
        "id": "6cca52e507bdd3f9",
        "type": "http request",
        "z": "df9f7062531e91f4",
        "name": "Events API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://app.ticketmaster.com/discovery/v2/events.json?size=1&apikey={{YOUR KEY}}&city={{payload.name}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 520,
        "wires": [
            [
                "60f483d3b3e6f086"
            ]
        ]
    },
    {
        "id": "4756b7232c1c3ec6",
        "type": "http request",
        "z": "df9f7062531e91f4",
        "name": "Event Image API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://app.ticketmaster.com/discovery/v2/events/{{payload.current_id}}/images.json?apikey={{YOUR KEY}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 520,
        "wires": [
            [
                "4ccda78f1dcc8fc6"
            ]
        ]
    },
    {
        "id": "292f03386b2a4825",
        "type": "ui_template",
        "z": "df9f7062531e91f4",
        "group": "6e3755644a23bd73",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<!-- <div ng-bind-html=\"msg.payload._embedded.events[0].images[0].url\"></div> -->\n\n<p>\n<img  width=\"640px\" height=\"360px\" src=\"{{msg.payload.images[0].url}}\" />\n</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 860,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4ccda78f1dcc8fc6",
        "type": "function",
        "z": "df9f7062531e91f4",
        "name": "change w/h",
        "func": "// width = \"{{msg.payload._embedded.events[0].images[0].width}}px\" height = \"{{msg.payload._embedded.events[0].images[0].height}}px\" src = \"{{msg.payload._embedded.events[0].images[0].url}}\"\nlet wid = 0\nlet hei = 0\nlet width1 = \"640px\"\nlet height1 = \"360px\"\nwid = msg.payload.images[0].width\nwidth1 = (wid.toString()).concat('', \"px\")\n\nhei = msg.payload.images[0].height\nheight1 = (hei.toString()).concat('', \"px\")\n\nmsg.payload.wid_sample_img = width1\nmsg.payload.hei_sample_img = height1\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 520,
        "wires": [
            [
                "8f288933af63c1ae",
                "e55feb6307e0c6c2",
                "292f03386b2a4825"
            ]
        ]
    },
    {
        "id": "60f483d3b3e6f086",
        "type": "function",
        "z": "df9f7062531e91f4",
        "name": "get id",
        "func": "let curr_id = \"\"\n\ncurr_id = msg.payload._embedded.events[0].id\n\nmsg.payload.current_id = curr_id\n\nmsg.event_details = {}\nmsg.event_details.name_of_event = msg.payload._embedded.events[0].name\nmsg.event_details.time = `${msg.payload._embedded.events[0].dates.start.localDate}     ${msg.payload._embedded.events[0].dates.start.localTime}`\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 520,
        "wires": [
            [
                "4756b7232c1c3ec6"
            ]
        ]
    },
    {
        "id": "dca1ed00f56f9b56",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Description",
        "format": "{{msg.payload.weather_new.description}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "d06ccd958d33b061",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feel Like",
        "format": "{{msg.payload.weather_new.feels_like}}",
        "layout": "row-left",
        "className": "",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "54df526b32837ed6",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload.weather_new.humidity}}",
        "layout": "row-left",
        "className": "",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "f7055d59acfff766",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed",
        "format": "{{msg.payload.weather_new.wind_speed}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "c1c8b8aded3cc7f4",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunrise",
        "format": "{{msg.payload.weather_new.sunrise}}",
        "layout": "row-left",
        "className": "",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "3701c308a1d507c1",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sunset",
        "format": "{{msg.payload.weather_new.sunset}}",
        "layout": "row-left",
        "className": "",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "ca893050658f118b",
        "type": "function",
        "z": "df9f7062531e91f4",
        "name": "Format Weather",
        "func": "// msg.weather.timezone = `Timezone is GMT ${msg.payload.timezone / 3600}:00 `\nmsg.payload.weather_new = {}\n// let timezone1 = msg.payload.timezone\nmsg.payload.weather_new.timezone = `GMT ${msg.payload.timezone / 3600}:00 `\nmsg.payload.weather_new.description = `${msg.payload.weather[0].description}`\nmsg.payload.weather_new.temp = `${msg.payload.main.temp} °C`\nmsg.payload.weather_new.feels_like = `${msg.payload.main.feels_like} °C` \nmsg.payload.weather_new.humidity = `${msg.payload.main.humidity} %`\nlet wind_speed = msg.payload.wind.speed * 3.6\nlet wind_speed_str = wind_speed.toString()\nlet wind_speed_final = wind_speed_str.substr(0, 5)\n\nmsg.payload.weather_new.wind_speed = `${wind_speed_final} km/hr`\n\nlet sunrise_time = msg.payload.sys.sunrise\nlet sunset_time = msg.payload.sys.sunset\n// Create a new JavaScript Date object based on the timestamp\n// multiplied by 1000 so that the argument is in milliseconds, not seconds.\nvar date_for_sunrise = new Date(sunrise_time * 1000);\nvar date_for_sunset = new Date(sunset_time * 1000);\n// Hours part from the timestamp\nvar hours_for_sunrise = date_for_sunrise.getHours();\nvar hours_for_sunset = date_for_sunset.getHours();\n// Minutes part from the timestamp\nvar minutes_sunrise = \"0\" + date_for_sunrise.getMinutes();\nvar minutes_sunset = \"0\" + date_for_sunset.getMinutes();\n// Will display time in 10:30:23 format\nvar formattedTime_sunrise = hours_for_sunrise + ':' + minutes_sunrise.substr(-2) + \" KST\"\nvar formattedTime_sunset = hours_for_sunset + ':' + minutes_sunset.substr(-2) + \" KST\"\n\nmsg.payload.weather_new.sunrise = formattedTime_sunrise\nmsg.payload.weather_new.sunset = formattedTime_sunset\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "dca1ed00f56f9b56",
                "52efd3d77d54555a",
                "d06ccd958d33b061",
                "54df526b32837ed6",
                "f7055d59acfff766",
                "c1c8b8aded3cc7f4",
                "3701c308a1d507c1",
                "d7f077bff0733ebc"
            ]
        ]
    },
    {
        "id": "d7f077bff0733ebc",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "93231cf0275b4de9",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Timezone",
        "format": "{{msg.payload.weather_new.timezone}}",
        "layout": "row-left",
        "className": "",
        "x": 840,
        "y": 20,
        "wires": []
    },
    {
        "id": "5dd4c1ef5beae17f",
        "type": "function",
        "z": "df9f7062531e91f4",
        "name": "Famous Place",
        "func": "let leng = msg.payload.features.length\nlet rand = Math.floor(Math.random() * leng)\nmsg.payload.display = {}\n\nmsg.payload.display.name = msg.payload.features[rand].properties.name\nmsg.payload.display.rate = msg.payload.features[rand].properties.rate\nlet details = msg.payload.features[rand].properties.kinds\ndetails = details.split(\",\")[0]\nmsg.payload.display.kind = details\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [
            [
                "c7c0befb454fcaa0",
                "253ce9d898c2cad5",
                "7c5202fd35c2c26a"
            ]
        ]
    },
    {
        "id": "c7c0befb454fcaa0",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "a3a79a1973a12bbe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sightseeing Places",
        "format": "{{msg.payload.display.name}}",
        "layout": "col-center",
        "className": "",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "253ce9d898c2cad5",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "a3a79a1973a12bbe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rate",
        "format": "{{msg.payload.display.rate}}",
        "layout": "row-left",
        "className": "",
        "x": 810,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c5202fd35c2c26a",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "a3a79a1973a12bbe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Details",
        "format": "{{msg.payload.display.kind}}",
        "layout": "row-left",
        "className": "",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "8f288933af63c1ae",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "6e3755644a23bd73",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Event Details",
        "format": "{{msg.event_details.name_of_event}}",
        "layout": "col-center",
        "className": "",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "e55feb6307e0c6c2",
        "type": "ui_text",
        "z": "df9f7062531e91f4",
        "group": "6e3755644a23bd73",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Date",
        "format": "{{msg.event_details.time}}",
        "layout": "row-left",
        "className": "",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "93231cf0275b4de9",
        "type": "ui_group",
        "name": "Location Information",
        "tab": "10c21870e0486964",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6e3755644a23bd73",
        "type": "ui_group",
        "name": "Event",
        "tab": "10c21870e0486964",
        "order": 3,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3a79a1973a12bbe",
        "type": "ui_group",
        "name": "Sightseeing place",
        "tab": "10c21870e0486964",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10c21870e0486964",
        "type": "ui_tab",
        "name": "Travel Guide",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]